/* Estilos generales del cuerpo de la página */
body {
    background: #f8f4f7;
    font-family: Inter, Arial;
    scroll-behavior: smooth;
}

/* Estilo para el texto seleccionado */
*::selection {
    background-color: #F5C78E;
}

/* Estilos para el logo en el encabezado */
header #logo {
    position: fixed;
    width: 10vw;
    height: 7vh;
    top: 6vh;
}

/* Estilos para el campo de entrada de texto */
form #inputTexto {
    font-size: 2vw;
    text-align: left;
    background-color: #f8f4f7;
    border: none;
    position: relative;
    top: 20vh;
    left: 12vw;
}

/* Estilo del placeholder del campo de texto */
form #inputTexto::placeholder {
    color: #0d0d0d;
}

/* Estilo del campo de texto al estar activo */
form #inputTexto:active {
    border: none;
}

/* Estilos para la sección lateral (aside) */
aside {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 22vw;
    height: 85vh;
    left: 75%;
    top: 6%;
    background: #FFFFFF;
    box-shadow: 0 1.5vw 2vh -.5vw rgba(0, 0, 0, 0.08);
    border-radius: 2vw;
}

/* Estilos para la imagen del muñeco en el aside */
aside #muñeco {
    width: 15vw;
    height: 30vh;
    position: relative;
    top: 15%;
}

/* Estilos para el contenedor de mensajes en el aside */
.mensajes {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2.5vh;
    position: absolute;
    top: 60%;
}

/* Estilo para el título del mensaje en el aside */
#mensajeAside {
    padding: 0 1rem;
    color: #343A40;
    font-weight: 700;
    font-size: 1.25vw;
}

/* Estilo para el párrafo del mensaje en el aside */
#parrafoAside {
    color: #495057;
    font-size: 1vw;
}

/* Estilos para el botón de copiar */
#copiarBtn {
    display: none;
    /* Oculto por defecto */
    position: absolute;
    background: #0d0d0d;
    color: #FDFBF6;
    top: 69vh;
    width: 85;
    /* Posible error, '85' sin unidad */
}

/* Estilos para el contenedor del label (icono y texto) */
.label {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    height: auto;
    left: 12vw;
    top: 70vh;
}

/* Estilos para el icono dentro del label */
.label #icono {
    width: 3vw;
    height: 3vh;
}

/* Estilos para el texto del label */
.label label {
    font-size: .90vw;
    color: #495057;
    opacity: 0.8;
}

/* Estilos para el contenedor de botones */
.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 3vw;
    position: absolute;
    height: 4.2vh;
    left: 12.7vw;
    top: 75vh;
}

/* Estilos generales para todos los botones */
button {
    font-size: 1.1vw;
    width: 20vw;
    height: 8vh;
    background: #0d0d0d;
    border: none;
    border-radius: 1vw;
    color: #FDFBF6;
}

/* Estilos específicos para el botón de desencriptar */
#desencriptarBtn {
    background: #323131;
    color: #FDFBF6;
}

/* Estilos para el pie de página */
#footer {
    position: relative;
    top: 100vh;
    padding-bottom: 6vh;
    gap: 5rem;
}

/* Estilos para el párrafo del pie de página */
#footer p {
    text-align: center;
}

/* Estilos para el texto fuerte en el pie de página */
#footer p strong {
    font-weight: 600;
}

/* Estilos para el contenedor de iconos sociales */
.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem;
}

/* Estilos base para los enlaces de redes sociales */
.social a {
    position: relative;
    width: 4rem;
    height: 4rem;
    border-radius: .5rem;
    background-position: center;
    background-size: 2.5rem;
    background-repeat: no-repeat;
    transition-property: all;
    transition-duration: .25s;
    transition-timing-function: linear;
    transition-delay: .2s;
}

/* Efecto hover para los enlaces de redes sociales */
.social a:hover {
    bottom: .5rem;
    background-color: #eee;
    background-size: 3.25rem;
    box-shadow: 0 .2rem .5rem #333;
}

/* Imagen de fondo para el icono de correo */
.correo {
    background-image: url('../img/correo.svg');
}

/* Imagen de fondo para el icono de LinkedIn */
.linkedin {
    background-image: url('../img/linkedin.svg');
}

/* Imagen de fondo para el icono de GitHub */
.github {
    background-image: url('../img/github.svg');
}

/* Media query para pantallas con un ancho máximo de 835px (tabletas) */
@media screen and (max-width: 835px) {
    header #logo {
        position: relative;
        top: 4vh;
    }

    form #inputTexto {
        font-size: 3.5vw;
        top: 18vh;
        left: 5vw;
    }

    aside #muñeco {
        display: none;
        /* Oculta la imagen del muñeco */
    }

    aside {
        position: relative;
        left: 5vw;
        top: 53vh;
        width: 90vw;
        height: 30vh;
    }

    .mensajes {
        top: 8vh;
    }

    #mensajeAside {
        font-size: 2.6vw;
    }

    #parrafoAside {
        font-size: 2vw;
    }

    .botones {
        height: 2vh;
        top: 55vh;
        left: 5vw;
        width: 90vw;
    }

    .label #icono {
        width: 1.5vw;
        height: 1.5vh;
    }

    .label {
        top: 50vh;
        left: 5vw;
        gap: .5vw;
    }

    .label label {
        font-size: 1.7vw;
    }

    button {
        font-size: 2vw;
        width: 100vw;
        height: 7vh;
        border-radius: 1.6vw;
    }

    #copiarBtn {
        top: 20vh;
        width: 85vw;
    }

    #footer {
        top: 70vh;
    }
}

/* Media query para pantallas con un ancho máximo de 625px (móviles) */
@media screen and (max-width: 625px) {
    header #logo {
        position: relative;
        top: 0;
        width: 17vw;
        height: 12vh;
    }

    form #inputTexto {
        font-size: 8vw;
        width: 90vw;
    }

    aside {
        position: relative;
        top: 82vh;
        height: 50vh;
    }

    .mensajes {
        width: 80vw;
        top: 15vh;
    }

    #mensajeAside {
        font-size: 6vw;
    }

    #parrafoAside {
        font-size: 5vw;
    }

    .botones {
        flex-direction: column;
        height: 20vh;
        top: 75vh;
        left: 5vw;
    }

    .label #icono {
        width: 3vw;
        height: 3vh;
    }

    .label {
        top: 70vh;
        gap: 1vw;
    }

    .label label {
        font-size: 4vw;
    }

    button {
        top: 0;
        font-size: 4.5vw;
        width: 90vw;
        height: 20vh;
        border-radius: 3.6vw;
    }

    #copiarBtn {
        height: 10vh;
        top: 35vh;
    }

    #footer {
        top: 95vh;
    }
}